<h1>Hello Navi from index!</h1>
<%= link_to('hello', {:controller => 'example_controller', :action => 'view1' }) %> </br>
<%= link_to('hello 1', {:action => 'hello', :page => '20', :id => '5' }) %> </br>
